<!--
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Eat-da-burger</title>
		<meta charset="UTF-8">
		<!-- Latest compiled and minified CSS --><!--
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		-->
		<!-- Optional theme -->
		<!--
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	</head>
	<body>
		{{{ body }}}
	</body>
</HTML>
-->
<!DOCTYPE html>
<html>
  <head>
    <title>Eat da Burger!</title>
 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/burger_style.css">
  </head>
  <body>
  <header><img src="../assets/img/burger7.png"><img src="../assets/img/burger8.png"><img src="../assets/img/burger6.png">
      <br></header>
    <div class="container">
      <center>
        <div class="row">
          
        </div>
      </center>
      <center>
        <h1 class="red_font">Eat da Burger!</h1>
      </center>
      
      {{{body}}}

      <br>
<!--
      <form action="burger/create" method="POST"> 
        <div class="row">
          <div class="col-md-4"></div>
          <div class="form-group col-md-4">
            <center><label for="new_burger" class="red_font">Place a new order and submit!</label></center>
            <textarea class="form-control" columns="8" rows="1" id="new_burger" name="burger_name"></textarea>
          </div>
          <div class="col-md-4"></div> 
        </div>
        <center>
          <button id="submit-button" type="submit" class="btn btn-primary">Place Order</button>
        </center>

      </form>

      <br>
-->
    </div>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  </body>
</html>